/* ------------------------------------- */
/* Reinicio de los estilos para borrar modificaciones del navegador */
/* ------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
body{
    background-color: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}


/* ------------------------------------- */
/* Estilos para el HOME */
/* ------------------------------------- */


h1 {
    font-family: 'Vogue', sans-serif;
    font-size: 200px;
    text-align: center;
    color: white;
    margin-top: 100px; /* Aumenta este valor si necesitas más espacio */
}



h2{
    font-family: 'Vogue', sans-serif;
    font-size: 50px; /* Un poco más pequeño que el título */
    text-align: center;
    color: red; /* Color */
}

.f1-image {
    width: 100vw;         /* Ocupa el 100% del ancho de la ventana */
    height: auto;
    border-radius: 0;     /* Quita el borde redondeado si quieres que sea a tope */
    display: block;       /* Elimina espacio adicional si lo hubiera */
}
.image-container {
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.seccion1titulo {
    font-family: 'Playfair Display', serif; /* O la fuente que elijas */
    font-size: 70px;
    color: white;
    text-align: center;
    margin-top: 1px;
}

.seccion1subtitulo {
    font-family: 'Playfair Display', serif; /* Puede ser la misma o una diferente */
    font-size: 40px;
    color: rgb(159, 45, 45);
    text-align: center;
    margin-top: 20px;
}

.seccion2subtitulo {
     font-family: 'Playfair Display', serif; /* Puede ser la misma o una diferente */
    font-size: 40px;
    color: yellow;
    text-align: center;
    margin-top: 20px;
}

.seccion3subtitulo {
   font-family: 'Playfair Display', serif; /* Puede ser la misma o una diferente */
    font-size: 40px;
    color: blue;
    text-align: center;
    margin-top: 20px; 
}

.tituloscampeonato{
     font-family: Arial, Helvetica, sans-serif; /* Puede ser la misma o una diferente */
    font-size: 40px;
    color: rgb(251, 251, 165);
    text-align: center;
   margin-top: 10px;
}

.TITULOS1 {
    font-family: 'Playfair Display', serif;
    font-size:30px;
    color:rgb(159, 45, 45);
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 232px;
}

.INFORMACIÓN1 {
     width: 60%;         /* Define el ancho del bloque, puedes ajustarlo */
  max-width: 500px;   /* Limita el ancho máximo */
 
  padding: 10px;      /* Agrega espaciado interno */
  text-align: left;   /* Alinea el texto a la izquierda */
   font-family: Arial, sans-serif; /* Tipografía */
  font-size: 16px;               /* Tamaño de fuente */
  line-height: 1.6;              /* Espaciado entre líneas */
  text-align: justify;  /* Justifica el texto */
   margin-left: 200px;
}

.TITULOS2 {
    font-family: 'Playfair Display', serif;
    font-size:30px;
    color:rgb(159, 45, 45);
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 176px;
}

.INFORMACIÓN2 {
     width: 60%;         /* Define el ancho del bloque, puedes ajustarlo */
  max-width: 500px;   /* Limita el ancho máximo */
  padding: 10px;      /* Agrega espaciado interno */
  margin-left: 200px;
  text-align: left;   /* Alinea el texto aL lado que quiera */
   font-family: Arial, sans-serif; /* Tipografía */
  font-size: 16px;               /* Tamaño de fuente */
  line-height: 1.6;              /* Espaciado entre líneas */
  text-align: justify;  /* Justifica el texto */
}

.TITULO3 {
     font-family: 'Playfair Display', serif;
    font-size:30px;
    color:yellow;
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 310px;
}

.INFORMACION3 {
   width: 60%;         /* Define el ancho del bloque, puedes ajustarlo */
  max-width: 500px;   /* Limita el ancho máximo */
  padding: 10px;      /* Agrega espaciado interno */
  margin-left: 200px;
  text-align: left;   /* Alinea el texto aL lado que quiera */
   font-family: Arial, sans-serif; /* Tipografía */
  font-size: 16px;               /* Tamaño de fuente */
  line-height: 1.6;              /* Espaciado entre líneas */
  text-align: justify;  /* Justifica el texto */ 
}

.TITULO4 {
     font-family: 'Playfair Display', serif;
    font-size:30px;
    color:yellow;
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 310px;
}

.INFORMACION4 {
      width: 60%;         /* Define el ancho del bloque, puedes ajustarlo */
  max-width: 500px;   /* Limita el ancho máximo */
  padding: 10px;      /* Agrega espaciado interno */
  margin-left: 200px;
  text-align: left;   /* Alinea el texto aL lado que quiera */
   font-family: Arial, sans-serif; /* Tipografía */
  font-size: 16px;               /* Tamaño de fuente */
  line-height: 1.6;              /* Espaciado entre líneas */
  text-align: justify;  /* Justifica el texto */ 
}

.TITULO5 {
     font-family: 'Playfair Display', serif;
    font-size:30px;
    color:yellow;
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 280px;
}

.INFORMACION5 {
     width: 60%;         /* Define el ancho del bloque, puedes ajustarlo */
  max-width: 500px;   /* Limita el ancho máximo */
  padding: 10px;      /* Agrega espaciado interno */
  margin-left: 200px;
  text-align: left;   /* Alinea el texto aL lado que quiera */
   font-family: Arial, sans-serif; /* Tipografía */
  font-size: 16px;               /* Tamaño de fuente */
  line-height: 1.6;              /* Espaciado entre líneas */
  text-align: justify;  /* Justifica el texto */ 
}

.TITULO6 {
     font-family: 'Playfair Display', serif;
    font-size:30px;
    color:rgb(120, 120, 255);
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 280px;
}

.INFORMACION6 {
     width: 60%;         /* Define el ancho del bloque, puedes ajustarlo */
  max-width: 500px;   /* Limita el ancho máximo */
  padding: 10px;      /* Agrega espaciado interno */
  margin-left: 200px;
  text-align: left;   /* Alinea el texto aL lado que quiera */
   font-family: Arial, sans-serif; /* Tipografía */
  font-size: 16px;               /* Tamaño de fuente */
  line-height: 1.6;              /* Espaciado entre líneas */
  text-align: justify;  /* Justifica el texto */ 
}

.TITULO7 {
     font-family: 'Playfair Display', serif;
    font-size:30px;
    color:rgb(120, 120, 255);
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 270px;
}

.INFORMACION7 {
     width: 60%;         /* Define el ancho del bloque, puedes ajustarlo */
  max-width: 500px;   /* Limita el ancho máximo */
  padding: 10px;      /* Agrega espaciado interno */
  margin-left: 200px;
  text-align: left;   /* Alinea el texto aL lado que quiera */
   font-family: Arial, sans-serif; /* Tipografía */
  font-size: 16px;               /* Tamaño de fuente */
  line-height: 1.6;              /* Espaciado entre líneas */
  text-align: justify;  /* Justifica el texto */ 
}

.TITULO8 {
     font-family: 'Playfair Display', serif;
    font-size:30px;
    color:rgb(120, 120, 255);
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 280px;
}

.INFORMACION8 {
     width: 60%;         /* Define el ancho del bloque, puedes ajustarlo */
  max-width: 500px;   /* Limita el ancho máximo */
  padding: 10px;      /* Agrega espaciado interno */
  margin-left: 200px;
  text-align: left;   /* Alinea el texto aL lado que quiera */
   font-family: Arial, sans-serif; /* Tipografía */
  font-size: 16px;               /* Tamaño de fuente */
  line-height: 1.6;              /* Espaciado entre líneas */
  text-align: justify;  /* Justifica el texto */ 
}

.TITULO9 {
     font-family: 'Playfair Display', serif;
    font-size:30px;
    color:rgb(120, 120, 255);
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 195px;
}

.TITULO10 {
     font-family: 'Playfair Display', serif;
    font-size:30px;
    color:rgb(120, 120, 255);
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 390px;
}

.TITULO11 {
     font-family: 'Playfair Display', serif;
    font-size:30px;
    color:rgb(120, 120, 255);
    text-align: left;
    padding: 10px;      /* Agrega espaciado interno */
     margin-left: 280px;
}

.datocurioso {
     background-color: #666666;         /* Gris oscuro para diferenciar del fondo negro */
  border-left: 5px solid #ffc107;    /* Borde amarillo (color vibrante) */
  color: white;                      /* Texto blanco */
  padding: 15px 20px;                /* Espaciado interno */
  margin: 30px 0;                    /* Espaciado externo */
  margin-left: 150px;
  font-style: italic;                /* Estilo de cita */
  border-radius: 8px;                /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05); /* Sombra suave blanca */
  text-align: left;                  /* Alineado a la izquierda */
  max-width: 600px;                  /* Limita el ancho */
}

.datocurioso2 {
     background-color: #666666;         /* Gris oscuro para diferenciar del fondo negro */
  border-left: 5px solid rgb(71, 71, 255);    /* Borde amarillo (color vibrante) */
  color: white;                      /* Texto blanco */
  padding: 15px 20px;                /* Espaciado interno */
  margin: 30px 0;                    /* Espaciado externo */
  margin-left: 150px;
  font-style: italic;                /* Estilo de cita */
  border-radius: 8px;                /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05); /* Sombra suave blanca */
  text-align: left;                  /* Alineado a la izquierda */
  max-width: 600px;                  /* Limita el ancho */
}

/* Hacer que las imágenes estén alineadas a la derecha */
.img1 {
  position: absolute; 
  top: 48%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 600px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
}

.img2 {
  position: absolute; 
  top: 85%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
  
}

.img3 {
  position: absolute; 
  top: 120%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
  
}

.imgparrilla {
  position: absolute; 
  top: 235%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 600px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
}

.imgescuderias {
  position: absolute; 
  top: 270%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
  
}

.imgcircuitos {
  position: absolute; 
  top: 301%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
  
}

.imgcharles {
  position: absolute; 
  top: 344%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */ 
}

.imgaccidente {
  position: absolute; 
  top: 55%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 600px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
}

.imgferrari {
  position: absolute; 
  top: 100%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
  
}

.imgcharlesvsmax {
  position: absolute; 
  top: 135%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
  
}

.imgcharlesalex {
  position: absolute; 
  top: 185%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */
  
}

.imgcarlosrebecca {
  position: absolute; 
  top: 220%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */ 
}

.imgcarlando {
  position: absolute; 
  top: 262%; /* Empieza un poco más abajo del borde superior */
  right: 150px; /* Coloca las imágenes a la derecha */
  width: 500px; /* Puedes ajustar el ancho según el tamaño de tus imágenes */
  display: flex; /* Hace que las imágenes se muestren en una columna */
  flex-direction: column; /* Alinea las imágenes verticalmente */
  gap: 20px; /* Espacio entre las imágenes */ 
}

.imagenes {
  display: flex;
  justify-content: space-between; /* Espacio entre imágenes */
  flex-wrap: wrap;                /* Permite que bajen si no caben */
  gap: 20px;
  margin: 50px auto;              /* Margen arriba/abajo y centrado horizontal */
  max-width: 1400px;              /* Ajusta según el ancho de tu contenido */
  padding: 0 20px;
}

.imagenes img {
  width: 30%;                     /* Cada imagen ocupa aprox. un tercio del contenedor */
  height: auto;
  border-radius: 10px;
}


/* Efecto hover para aumentar el tamaño de las imágenes */
.imagenes img:hover {
    transform: scale(1.1);     /* Aumenta el tamaño al pasar el cursor */
}






nav a{
    font-family: Arial, sans-serif;
    font-size: 18pt;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 10px;
    border-radius: 12px;
    transition: background-color 0.3s;
}

/* Hover para los botones */
nav a:hover {
    background-color: red; /* Cambio a rojo al pasar el mouse */
}

/* ------------------------------------- */
/* Estilos para las secciones */
/* ------------------------------------- */

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

section {
    padding: 5%;
    background-color: grey;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    padding: 1%;
    text-align: center;
}

header{
    
    padding: 5%;
}

nav{
  
    padding: 5%;

}

section{
    font-family: Arial, Helvetica, sans-serif;
    height: 600px; /* Esta propiedad se puede cambiar según el alto del contenido */ 
    background-color: grey;
    padding: 5%;
}

section a{
    color:black;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    padding: 1%;
    text-align: center;
}
h3.TITULO1{
    color:red;
}

